body{
	background-color: black;
	color: #FFFFFF;
}

.game-board {
    margin:auto;
    position: relative;
    overflow: hidden;
    min-height: 250px;
	min-width: 450px;
	max-height: 250px;
	max-width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 5px;
    gap: 10px;
    
}

.game-tile {
    cursor: pointer;
    background: #f6da17;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    transition: 0.4s background-color, 0.4s box-shadow;
}

.game-tile:hover {
    background-color:#F7C11A;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.game-score {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: tomato;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

#container{
	width: 769px;
	margin-left: auto;
	margin-right: auto;
}

#welcome{
	margin:20px;
	font-size:50px;
}

.screen{
	float:left;
	min-height: 250px;
	min-width: 450px;
	max-height: 250px;
	max-width: 450px;
	margin:10px;
	background-color: #303030;
	padding: 20px;
	font-size: 20px;

}

@media only screen and (min-width: 769px) {
	body{
	background-color: #282828;
}
#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#welcome{
	margin:20px;
	font-size:50px;
	float:left;
}
.screen{
	float:left;
	min-height: 250px;
	min-width: 450px;
	max-height: 250px;
	max-width: 450px;
	margin:10px;
	background-color: #303030;
	padding: 20px;
	font-size: 20px;

}

#footer{
	text-align: center;
	width: 100%;
}
.square{
	min-width: 500px;
	max-width: 500px;
	float:left;
}
.title{
	float:left;
	width: 220px;
	height: 115px;
	background-color: #536EA8;
	margin:10px;
	text-align: center;
	font-size:30px;
}
.title2{
	float:left;
	background-color: #EA9A28;
	margin:10px;
	text-align: center;
	font-size: 23px;
	padding: 20px;
	line-height: 150%;
	width:420px;
	margin-top:40px;
}
.title3{
	width: 480px;
	text-align: center;
	margin: 10px;
	font-size: 40px; 
}
.title4{
	float:right;
	text-align: center;
	min-width:29%;
	max-width:29%;
	min-height: 50px;
	max-height: 50px;
	background-color:#9B3E3E;
	margin: 10px;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
	line-height: 50px;


}
.title4:hover{
	background-color:#829747;
}


.player1{
	float:left;
	width: 214px;
}

.player2{
	float:left;
	width: 214px;
	}
.pkt{
	float:left;
}
#podzial{
	float:left;
}

}